name: Compile, archive, link, and run the C code

on:
  workflow_call:

jobs:
  build-code:
    name: Compile, archive, link, and run the C code
    runs-on: ubuntu-latest
    steps:
      - name: Update apt-get
        run: sudo apt-get update

      - name: Set up Git repository
        uses: actions/checkout@v6

      - name: Compile files without external dependecies
        run: |
          ./.github/scripts/sub-steps.sh make obj_src
          ./.github/scripts/sub-steps.sh make obj_main
          ./.github/scripts/sub-steps.sh make obj_plugins_diffusion

      - name: Create static libraries and diffusion plugin
        run: |
          ./.github/scripts/sub-steps.sh make lib_src
          ./.github/scripts/sub-steps.sh make lib_plugins_diffusion

      - name: Create executables (Link)
        run: make bin

      - name: Run text-outputting demos
        run: |
          ./.github/scripts/sub-steps.sh make txt_array
          ./.github/scripts/sub-steps.sh make txt_algebra
          ./.github/scripts/sub-steps.sh make txt_region
          ./.github/scripts/sub-steps.sh make txt_mesh
          ./.github/scripts/sub-steps.sh make txt_diffusion_steady_state
          ./.github/scripts/sub-steps.sh make txt_diffusion_transient
          ./.github/scripts/sub-steps.sh make txt_graphics

      - name: Install Cairo
        run: sudo apt-get install -y libcairo2-dev

      - name: Compile and link plugins depending on Cairo
        run: |
          ./.github/scripts/sub-steps.sh make obj_plugins_cairo_animation
          ./.github/scripts/sub-steps.sh make obj_plugins_cairo_graphics
          ./.github/scripts/sub-steps.sh make lib_plugins_cairo_animation
          ./.github/scripts/sub-steps.sh make lib_plugins_cairo_graphics

      - name: Run PDF-outputting demos
        run: |
          ./.github/scripts/sub-steps.sh make pdf_filled_window
          ./.github/scripts/sub-steps.sh make pdf_colorbar
          ./.github/scripts/sub-steps.sh make pdf_mesh
          ./.github/scripts/sub-steps.sh make pdf_diffusion_steady_state
          ./.github/scripts/sub-steps.sh make pdf_diffusion_transient

      - name: Run SVG-outputting demos
        run: make svg

      - name: Install GTK+ 3
        run: sudo apt-get install -y libgtk-3-dev

      - name: Compile and link plugins depending on GTK
        run: |
          ./.github/scripts/sub-steps.sh make obj_plugins_gtk_animation
          ./.github/scripts/sub-steps.sh make lib_plugins_gtk_animation

      - name: Upload release directory
        uses: actions/upload-artifact@v6
        with:
          name: linux-release
          path: build/release
          retention-days: ${{ github.event.repository.private && 1 || 7 }}
